# Ignorar node_modules en el backend
backend/node_modules/

# Ignorar node_modules en el frontend
frontend/node_modules/

# Ignorar archivos de configuración de entorno
.env

# Archivos generados por el sistema operativo
.DS_Store
Thumbs.db

# Logs de errores
*.log

# Archivos de pruebas de cobertura
coverage/

# Archivos de respaldo
*.bak
*.swp
